<h1>{{met}} Request Received</h1>

<ul>
   {{#each item}}
      <li>The name is: {{this.v1}}, and the value is: {{this.v2}}
   {{/each}}
</ul>

<table>
  <thead>
     <th>table.Name</th>
     <th>table.Value</th>
  </thead>
  <tbody>
       {{#each bodylist}}
       <tr><td>{{this.v3}}</td> <td>{{this.v4}}</td></tr>
   {{/each}}
  </tbody>
</table>

