<h1>{{met}} Request Received</h1>

<ul>
   {{#each item}}
      <li>The name is: {{this.v1}}, and the value is: {{this.v2}}
   {{/each}}
</ul>

<table>
  <thead>
     <th id = "name">Name</th>
     <th id = "value">Value</th>
  </thead>
  <tbody>
       {{#each bodylist}}
       <tr><td>{{this.v3}}</td> <td>{{this.v4}}</td></tr>
   {{/each}}
  </tbody>
</table>

<script>  
   if(met == "get"){
   document.getElementById("name").textContent = '';
   document.getElementById("Value").textContent = '';      
   }
</script>